

一：当下

1.项目的正常发布（bug问题）
  a：url让原生怎么改？  （做工作要严谨）
     1.修改路径为
     2.直接打包构建就可以了啊！
　　 3.发包：   url的对接    项目发布性能的考虑啊！
       1.路径这块的快速处理啊： 生产环境路径配置啊！  贵贤的url!  风华的url！
       2.接口路径的配置 　 页面的url！　

   代码修正　
    1.原生对接  修改url　　　你自己的页面url也要做调整！(已经OK！)
       a:　http://localhost:8080/#/chargeRecord?proId=1
        http://page-home.cba0c8564f4854aee954cc244799b71ab.cn-shenzhen.alicontainer.com/operationIndex

       http://hybrid-app.cba0c8564f4854aee954cc244799b71ab.cn-shenzhen.alicontainer.com/#/auditRecordList
       修改为：http://hybrid-app.cba0c8564f4854aee954cc244799b71ab.cn-shenzhen.alicontainer.com/#/operationIndex?fromPhone=android&village_id=5&userId=102268&company_id=1


　　
    2.UI对接  样式再看一下！（已经ＯＫ）
　

  b：babel   转码

  c：webpack的运行原理   过一遍了！  都忘记了     配置那几种环境的打包脚本啊！　

  d：样式问题啊！  flex的demo啊！　快速整理一下了！　　echarts的demo！　　整理一个项目吧！（数据可视化：总结整理）

  e：


二：扩展

1.看axios的源码

2.接下来的工作安排
  a：重构项目啊！　是的啊！　

3.git命令行

4.ide的快捷键
